@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Evita desplazamiento horizontal */
}

body {
  color: black;
  background: #d1caba;
  /* font-family: Arial, Helvetica, sans-serif; */
}

/* Cambiar color de las flechas del Swiper*/
.swiper-button-next,
.swiper-button-prev {
  color: #588652 !important; /* Verde Tailwind (green-500) */
}

.swiper-pagination-bullet-active {
  background-color: #588652 !important; /* Verde más intenso */
}
